body {
  font-family: Helvetica, Arial, sans-serif;
  max-width: 768px;
  padding: 10px;
  margin: auto;
}

.search-box {
  width: 100%;
  height: 50px;
  font-size: 16px;
}

.search-results {
  padding-left: 0px;
}

.search-result {
  border: 1px solid #f8f8f8;
  line-height: 30px;
  padding-left: 10px;
  font-weight: bold;
  list-style: none;
}

.search-result:hover {
  cursor: pointer;
}

.company-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.hide {
  display: none;
}

.image-container {
  padding-right: 10px;
  width: 50%;
}

.info-container {
  width: 50%;
  font-weight: normal;
  font-size: 14px;
}

.labor-types {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  margin-left: -10px;
}

.results-pageable {
  width: 275px;
  margin: auto;
}

.results-nav {
  background-color: #193A54;
  color: white;
  width: 80px;
  height: 44px;
  border: 0;
  border-radius: 1px;
}

.results-nav:hover {
  cursor: pointer
}

.results-nav-disabled {
  opacity: 0.5;
}

.results-nav-disabled:hover {
  cursor: default;
}

.results-position {
  padding: 0 10px 0 10px;
}

a {
  display: block;
}

img {
  width: 200px;
  height: auto;
}

@media (max-width: 500px) {
  .company-info {
    flex-direction: column;
  }
}
